@charset "utf-8";
* {
	padding:0;
	margin:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
	letter-spacing:.5px
}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a {
	border:0
}
img,input {
	border:0;
	vertical-align:middle
}
body {
	font-family:Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;
	font-size:12px;
	text-align:center;
	background:#FFF;
	color:#000
}
html {
	overflow-y:scroll
}
ul,ol,li {
	list-style:none
}
th,td,input {
	font-size:12px
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:400
}
h3 {
	font-size:14px
}
button {
	border:0;
	cursor:pointer;
	font-size:12px;
	background-color:transparent
}
select {
	border-width:1px;
	_zoom:1;
	border-style:solid;
	padding-top:2px;
	font-size:12px
}
.clear {
	clear:both;
	font-size:1px;
	height:0;
	visibility:hidden;
	line-height:0
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix {
	*zoom:1
}
a:link,a:visited {
	text-decoration:none;
	color:#000
}
a:hover,a:active {
	text-decoration:none;
	color:#db2726
}
.wrapper {
	position:relative
}
.icon_from {
	display:inline-block;
	*display:inline;
	*zoom:1;
	background:url(http://cdn11.mei.com/images/icon_new.png) no-repeat;
	font-size:0;
	line-height:0;
	overflow:hidden
}
.icon_arrow_left_a {
	width:4px;
	height:8px;
	background-position:-164px -121px
}
.icon_arrow_right_a {
	width:4px;
	height:8px;
	background-position:-172px -121px
}
.icon_arrow_up_a {
	width:8px;
	height:4px;
	background-position:-180px -125px
}
.icon_arrow_down_a {
	width:8px;
	height:4px;
	background-position:-191px -125px
}
.productslist .content_container {
	height:auto
}
.breadcrumbs {
	width:1000px;
	height:16px;
	padding:20px 0 20px 0;
	position:relative;
	border-bottom:1px solid #e7e7e7
}
.breadcrumbs ul li {
	float:left;
	margin-right:8px;
	color:#999
}
.breadcrumbs ul li a {
	color:#999
}
.breadcrumbs ul li a:hover {
	color:#db2726
}
.breadcrumbs ul li span {
	margin-right:8px;
	font-family:Tahoma
}
.breadcrumbs ul .product {
	color:#000
}
.countdown {
	width:250px;
	height:17px;
	position:absolute;
	right:0;
	top:20px
}
.countdown_label {
	display:block;
	padding-left:22px;
	height:17px;
	background:url(http://cdn11.mei.com/images/icon_countdown.gif) no-repeat;
	background-position:0 0;
	font-weight:bold;
	float:right;
	margin-right:5px
}
.countdown_Time {
	color:#999;
	float:right
}
.countdown_Time strong {
	font-weight:400
}
.selectionconditions {
	width:123px;
	height:28px;
	border:0 solid #999;
	background-color:#fff;
	position:relative;
	z-index:auto
}
.selectmode {
	width:123px;
	height:28px;
	border:1px solid #999;
	background-color:#fff;
	position:relative;
	z-index:2
}
.selectionconditions .open {
	border-bottom:1px solid #fff
}
.selectionconditions .selectlist {
	width:283px;
	height:auto;
	overflow:hidden;
	border:1px solid #999;
	-moz-box-shadow:1px 2px 2px #CCC,2px 1px 2px #CCC;
	-webkit-box-shadow:1px 2px 2px #CCC,2px 1px 2px #CCC;
	box-shadow:1px 2px 2px #CCC,2px 1px 2px #CCC;
	background-color:#fff;
	position:absolute;
	top:29px;
	left:0;
	padding-bottom:20px;
	z-index:1
}
.productslist h2 {
	width:100%;
	height:60px;
	line-height:60px;
	font-size:20px;
	overflow:hidden
}
.productslist h2 p {
	float:right;
	font-size:12px
}
.productslist h2 p span {
	font-size:20px;
	position:relative;
	top:2px
}
.productslist .box_effect {
	margin-bottom:20px
}
.productslist .box_effect_bg {
	width:995px
}
.productslist .box_effect_content {
	width:973px
}
.productslist .box_effect_content .box_effect_content_list {
	width:100%;
	height:auto;
	overflow:hidden
}
.productslist .box_effect_content .box_effect_content_list ul li {
	width:auto;
	_height:18px;
	padding-left:28px;
	overflow:hidden;
	white-space:normal;
	margin-bottom:20px;
	background:url(http://cdn11.mei.com/images/icon_gift.gif) no-repeat;
	line-height:18px
}
.productslist .box_effect_content .box_effect_content_list ul li span {
	margin-right:5px
}
.productslist .box_effect_content .box_effect_content_list ul li a {
	text-decoration:underline;
	display:inline-block
}
.productslist .box_effect_content h3 {
	font-size:14px;
	width:100%;
	margin-bottom:5px
}
.productslist .box_effect_content p {
	line-height:18px
}
.productslist .box_effect_content p a {
	text-decoration:underline;
	display:inline-block
}
.productquery {
	width:100%;
	height:30px;
	line-height:30px;
	text-align:left
}
.productquery .number {
	float:right
}
.productquery .selectionconditions {
	float:left;
	margin-right:20px
}
.productquery .sorter {
	position:relative;
	float:left
}
.sorter a {
	float:left;
	margin:0 9px 0 0;
	width:98px;
	height:28px;
	line-height:28px;
	background:#fff url(http://cdn11.mei.com/images/sorter_bg.gif) no-repeat -1px -1px;
	border:1px solid #e7e7e7;
	font-weight:normal;
	text-indent:26px
}
.sorter .asc {
	background-color:#e7e7e7;
	background-position:-219px -1px
}
.sorter .desc {
	background-color:#e7e7e7;
	background-position:-110px -1px
}
.sorter .btn-reset-sorter {
	background:#fff;
	text-indent:23px
}
.sorter .is-default {
	background:#e7e7e7
}
.sorter .loadingnow {
	position:absolute;
	right:-30px;
	top:0;
	display:none
}
.selected-attrs {
	position:relative;
	padding:18px 0 8px 18px;
	line-height:24px;
	background:#e7e7e7;
	display:none
}
.selected-attrs label {
	float:left;
	height:24px;
	width:75px
}
.selected-attrs .attrs {
	float:left;
	width:800px
}
.attrs li {
	float:left;
	height:24px;
	padding:0 30px 0 10px;
	margin:0 20px 10px 0;
	background:#000 url(http://cdn11.mei.com/images/icon_attr_remove.gif) no-repeat 100% 8px;
	color:#fff;
	cursor:pointer
}
.selected-attrs span {
	display:inline;
	width:auto;
	height:auto;
	background:0;
	text-indent:0
}
.reset-filters {
	position:absolute;
	top:18px;
	right:8px;
	width:90px;
	height:24px;
	font-weight:normal;
	color:#999;
	cursor:pointer
}
.filter-list {
	margin:0 0 20px;
	line-height:24px;
	border:1px solid #e7e7e7;
	border-bottom:0
}
.selectlist {
	position:relative;
	padding:18px 0 10px 17px
}
.select_ul li {
	float:left;
	width:165px;
	height:24px;
	overflow:hidden;
	cursor:pointer
}
.select_ul li:hover {
	color:#db2726
}
.select_ul span {
	display:inline-block;
	width:19px;
	height:24px;
	background:url(http://cdn11.mei.com/images/filter_check.gif) no-repeat 0 0
}
.select_ul .selected {
	background-position:0 -24px
}
.selectlist_top {
	float:left;
	width:75px
}
.selectlist_bottom {
	float:left;
	width:825px;
	max-height:48px;
	overflow-y:hidden
}
.expanded-list {
	max-height:none;
	overflow:visible
}
.selectlist .show-more {
	position:absolute;
	top:18px;
	right:0;
	width:83px;
	height:24px;
	background:url(http://cdn11.mei.com/images/arrow_expand.gif) no-repeat 100% 0;
	font-weight:normal;
	text-indent:20px;
	cursor:pointer;
	display:none
}
.selectlist .expanded {
	background-position:100% -30px
}
.selectlist .show-more:hover {
	color:#db2726
}
.selectlist:after,.select_ul:after,.attrs:after,.selected-attrs:after {
	display:block;
	clear:both;
	content:'';
	height:0 !important;
	line-height:0 !important;
	font-size:0 !important;
	overflow:hidden !important
}
.selectlist,.select_ul,.attrs,.selected-attrs {
	zoom:1
}
.ui-page-tmpl {
	display:none
}
.ui-page-s-wrap {
	position:relative;
	float:right;
	padding:0 0 0 10px
}
.ui-page-s-prev,.ui-page-s-next {
	float:left;
	width:28px;
	height:28px;
	border:1px solid #e7e7e7;
	margin:0 5px 0 0;
	text-align:center;
	text-indent:-999em;
	background:url(http://cdn11.mei.com/images/pager.gif) 0 0 no-repeat
}
.ui-page-s-next {
	background-position:0 -40px
}
.ui-page-s-prevLink {
	background-position:-40px 0
}
.ui-page-s-nextLink {
	background-position:-40px -40px
}
.ui-page-s-len {
	float:left;
	font-weight:normal;
	margin:0 12px 0 0
}
.ui-page-s-next {
	margin:0
}
.ui-page-s a:hover {
	border:1px solid #000
}
.ui-page-error {
	position:absolute;
	bottom:-15px;
	right:100px;
	width:260px;
	height:65px;
	border:1px solid #e7e7e7;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:url(http://cdn11.mei.com/images/ajax_error.gif) 0 0 no-repeat;
	display:none
}
.ui-page-bottom {
	position:relative;
	z-index:10;
	height:24px;
	margin:-67px 0 0;
	padding:0 0 40px;
	text-align:center
}
.ui-page-wrap {
	display:inline-block;
	zoom:1
}
.ui-page-num {
	float:left;
	margin:0 5px 0 0
}
.ui-page-num a,.ui-page-num b {
	float:left;
	width:22px;
	height:22px;
	line-height:22px;
	font-weight:normal;
	border:1px solid #e7e7e7;
	margin:0 5px 0 0;
	text-align:center
}
.ui-page-num .ui-page-prev,.ui-page-num .ui-page-next {
	width:52px;
	color:#999
}
.ui-page-num .ui-page-prevLink,.ui-page-num .ui-page-nextLink {
	color:#000
}
.ui-page-num .ui-page-break {
	width:12px;
	color:#e7e7e7;
	border:1px solid #fff
}
.ui-page-num a:hover {
	border:1px solid #000
}
.ui-page-num .ui-page-cur {
	background:#000;
	color:#fff;
	border:1px solid #000
}
.ui-page-wrap .ui-page-error {
	bottom:86px;
	right:50%;
	margin:0 -135px 0 0
}
.ui-page-totalCount {
	float:right
}
.ui-page-totalCount b {
	font-weight:normal
}
.ui-page-skip {
	float:left;
	height:24px;
	line-height:24px;
	font-weight:normal
}
.ui-page-skip b {
	font-weight:normal
}
.ui-page-skipTo {
	width:52px;
	height:22px;
	line-height:22px;
	border:1px solid #e7e7e7;
	text-align:center;
	margin:0 4px 0 0
}
.ui-btn-s {
	-webkit-border-fit:lines;
	vertical-align:middle
}
.ui-btn-s span {
	display:inline-block;
	width:42px;
	height:24px;
	line-height:24px;
	background:#000;
	color:#fff;
	cursor:pointer
}
.ui-btn-s::-moz-focus-inner {
	padding:0;
	border:0
}
.ui-btn-s:active {
	position:relative;
	bottom:-1px;
	right:-1px
}
.productquery .selectionconditions .selectlist .selectlist_bottom {
	width:98%;
	overflow:hidden;
	position:relative;
	max-height:215px;
	_height:expression((document.documentElement.clientHeight||document.body.clientHeight)215?"215px":"")
}
.productquery .selectionconditions .selectlist .selectlist_bottom1 {
	width:100%;
	overflow:hidden;
	position:relative;
	max-height:215px;
	_height:expression((document.documentElement.clientHeight||document.body.clientHeight)215?"215px":"")
}
.productquery .selectionconditions .selectlist .selectlist_bottom1 .select_ul li {
	width:100%;
	height:22px;
	line-height:22px;
	cursor:pointer;
	padding-left:20px
}
.productquery .selectionconditions .selectlist .selectlist_bottom1 .select_ul li:hover {
	background-color:#f2f2f2
}
.productquery .selectionconditions .selectlist .selectlist_bottom .product_size {
	width:240px;
	padding-left:20px;
	padding-bottom:20px
}
.productquery .selectionconditions .selectlist .selectlist_bottom .product_size h3 {
	line-height:15px
}
.productquery .selectionconditions .selectlist .selectlist_bottom .product_size ul li {
	width:50px;
	height:30px;
	margin-right:10px;
	margin-top:10px
}
.productquery .selectionconditions .selectlist .selectlist_bottom .product_size ul li span {
	width:48px;
	height:28px
}
.productquery .selectionconditions .selectlist .selectlist_bottom .product_size ul li .product_size_none {
	background:url(http://cdn11.mei.com/images/product_size_none.gif) no-repeat
}
.productquery .selectionconditions .selectlist .selectlist_bottom .select_ul li {
	width:210px;
	line-height:22px;
	padding-left:47px;
	position:relative;
	white-space:normal
}
.productquery .selected {
	display:block;
	width:12px;
	height:12px;
	background:url(http://cdn11.mei.com/images/icon_selected.png) no-repeat;
	text-indent:-9999px;
	cursor:pointer;
	position:absolute;
	left:20px;
	top:5px
}
.productquery .not_selected {
	display:block;
	width:12px;
	height:12px;
	background:url(http://cdn11.mei.com/images/icon_not_selected.png) no-repeat;
	text-indent:-9999px;
	cursor:pointer;
	position:absolute;
	left:20px;
	top:5px
}
.thelist {
	width:100%;
	height:auto;
	position:relative;
	z-index:1;
	padding-bottom:100px
}
.thelist .listproduct {
	width:235px;
	height:auto;
	float:left;
	text-align:left;
	line-height:18px;
	white-space:nowrap;
	margin-bottom:20px;
	margin-right:20px;
	position:relative
}
.thelist .listproduct .listproduct_pop {
	width:100%;
	height:auto;
	position:absolute;
	bottom:0;
	left:0;
	z-index:1
}
.thelist .listproduct .product_img {
	display:block;
	width:235px;
	height:313px;
	position:relative;
	z-index:auto
}
.thelist .listproduct .product_img img {
	width:235px;
	height:313px
}
.thelist .listproduct .product_img .product_label {
	position:absolute;
	top:0;
	left:0
}
.thelist .listproduct .product_img .product_label p {
	display:block;
	margin-top:10px;
	width:70px;
	height:25px;
	line-height:25px;
	padding-left:10px;
	color:#fff
}
.thelist .listproduct .product_img .product_label .label1 {
	background:url(http://cdn11.mei.com/images/label1_bg.png) no-repeat
}
.thelist .listproduct .product_img .product_label .label2 {
	background:url(http://cdn11.mei.com/images/label2_bg.png) no-repeat
}
.thelist .listproduct .product_img .product_label .label3 {
	background:url(http://cdn11.mei.com/images/label3_bg.png) no-repeat
}
.thelist .listproduct .product_select {
	width:100%;
	height:auto;
	position:relative;
	z-index:2;
	padding-bottom:10px;
	_background-color:#f0f0f0
}
.thelist .listproduct .product_select_bg {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	bottom:0;
	filter:alpha(opacity=20);
	-moz-opacity:.2;
	-khtml-opacity:.2;
	opacity:.2;
	z-index:0;
	background-color:#000;
	_display:none
}
.thelist .listproduct .product_size {
	width:225px;
	padding:5px 0 0 8px;
	overflow:visible;
	position:relative;
	z-index:2
}
.thelist .listproduct .product_size:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.thelist .listproduct .product_size {
	*zoom:1
}
.thelist .listproduct .product_size h3 {
	padding-top:8px
}
.thelist .listproduct .product_size ul li {
	width:40px;
	height:30px;
	margin-right:5px;
	margin-top:5px
}
.thelist .listproduct .product_size ul li span {
	width:38px;
	height:28px
}
.thelist .listproduct .product_size ul li .product_size_none {
	background:url(http://cdn11.mei.com/images/product_size_none.gif) no-repeat
}
.thelist .listproduct .select_btn {
	width:100%;
	height:auto;
	overflow:hidden;
	padding-top:10px;
	text-align:center;
	position:relative;
	z-index:1
}
.thelist .listproduct .select_btn .button {
	display:inline-block;
	*display:inline;
	*zoom:1;
	border:1px solid #999;
	color:#000;
	background-color:#fff;
	width:108px;
	height:23px;
	line-height:23px;
	font-size:12px;
	text-align:center
}
.thelist .listproduct .product_select .select_btn .button1 {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:103px;
	font-size:14px;
	margin:0 5px
}
.thelist .listproduct .product_select .select_btn .button2 {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:103px;
	font-size:14px;
	margin:0 5px
}
.thelist .listproduct .product_select .select_btn .button3 {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:103px;
	background-color:#999;
	border:1px solid #999;
	font-size:14px;
	margin:0 5px
}
.thelist .listproduct .product_content {
	width:215px;
	height:79px;
	padding:5px 10px 0 10px;
	overflow:hidden
}
.thelist .listproduct .product_content_pop {
	width:235px;
	height:84px;
	padding:0;
	overflow:hidden;
	position:relative;
	z-index:1;
	background-color:#fff
}
.thelist .listproduct .product_content1 {
	width:219px;
	height:68px;
	padding:8px;
	position:relative
}
.thelist .listproduct .product_content1 .has_collection {
	display:block;
	width:40px;
	height:30px;
	background:url(http://cdn11.mei.com/images/img_collection1.png) no-repeat;
	position:absolute;
	top:45px;
	right:0
}
.thelist .listproduct .product_content1 .no_collection {
	display:block;
	width:40px;
	height:30px;
	background:url(http://cdn11.mei.com/images/img_collection2.png) no-repeat;
	position:absolute;
	top:45px;
	right:0
}
.thelist .listproduct .product_content1 span {
	display:block;
	width:48px;
	height:65px;
	overflow:hidden;
	float:left;
	margin-right:8px;
	cursor:pointer
}
.thelist .listproduct .product_content1 span:hover {
	border:1px solid #000
}
.thelist .listproduct .product_content1 span img {
	width:50px;
	height:67px;
	margin:-1px 0 0 -1px
}
.loading {
	width:100%;
	height:100px;
	overflow:hidden;
	text-align:center;
	position:absolute;
	bottom:0;
	left:0;
	background-color:#fff;
	z-index:9
}
.loading p {
	margin-top:5px
}
.productslist_prompt {
	width:100%;
	height:800px;
	text-align:center;
	line-height:18px;
	padding-top:20px
}
.productslist_prompt a {
	color:#db2726
}
.productslist_prompt a:visited {
	color:#db2726
}
.twograde_content {
	width:100%;
	height:auto
}
.content_left {
	width:220px;
	height:auto;
	overflow:hidden;
	float:left
}
.content_left .selectlist {
	width:100%;
	height:auto;
	overflow:hidden;
	padding-bottom:10px;
	margin-bottom:20px
}
.content_left .selectlist .selectlist_top {
	width:200px;
	height:14px;
	line-height:14px;
	padding-bottom:20px;
	font-size:14px;
	font-weight:bold;
	overflow:hidden
}
.content_left .selectlist .selectlist_top .icon_from {
	margin-right:5px;
	position:relative;
	top:-2px;
	cursor:pointer
}
.content_left .selectlist .selectlist_top .right_a {
	float:right;
	font-size:12px;
	color:#999;
	font-weight:normal
}
.content_left .selectlist .selectlist_top .right_a:hover {
	color:#db2726
}
.content_left .selectlist .selectlist_bottom {
	width:100%;
	height:auto;
	max-height:230px;
	overflow:hidden;
	position:relative
}
.content_left .selectlist .selectlist_bottom1 {
	width:100%;
	height:auto;
	overflow:hidden;
	position:relative
}
.content_left .selectlist .selectlist_bottom1 .product_size {
	width:225px;
	padding-left:0;
	padding-bottom:20px
}
.content_left .selectlist .selectlist_bottom1 .product_size h3 {
	line-height:13px
}
.content_left .selectlist .selectlist_bottom1 .product_size ul li {
	width:40px;
	height:30px;
	margin-right:10px;
	margin-top:10px
}
.content_left .selectlist .selectlist_bottom1 .product_size ul li span {
	width:38px;
	height:28px
}
.content_left .selectlist .selectlist_bottom1 .product_size ul li .product_size_none {
	background:url(http://cdn11.mei.com/images/product_size_none1.gif) no-repeat
}
.content_left .selectlist .selectlist_bottom1 .product_size ul li .allsize {
	width:73px;
	height:28px
}
.content_left .selectlist .selectlist_bottom .select_ul li {
	width:180px;
	line-height:13px;
	padding-bottom:10px;
	padding-left:27px;
	position:relative;
	white-space:normal
}
.content_left .selected {
	display:block;
	width:12px;
	height:12px;
	background:url(http://cdn11.mei.com/images/icon_selected.png) no-repeat;
	text-indent:-9999px;
	cursor:pointer;
	position:absolute;
	left:0;
	top:1px
}
.content_left .not_selected {
	display:block;
	width:12px;
	height:12px;
	background:url(http://cdn11.mei.com/images/icon_not_selected.png) no-repeat;
	text-indent:-9999px;
	cursor:pointer;
	position:absolute;
	left:0;
	top:0
}
.content_right {
	width:760px;
	height:auto;
	float:right;
	position:relative
}
.twograde .thelist .listproduct {
	width:235px;
	margin-right:27px
}
.twograde .thelist .listproduct .listproduct_pop {
	width:100%;
	height:auto;
	position:absolute;
	bottom:0;
	left:0;
	z-index:1
}
.twograde .thelist .listproduct .product_img {
	width:235px;
	height:313px
}
.twograde .thelist .listproduct .product_img img {
	width:235px;
	height:313px
}
.twograde .thelist .listproduct .product_select {
	width:100%;
	height:auto;
	position:relative;
	z-index:2;
	padding-bottom:10px
}
.twograde .thelist .listproduct .product_size {
	width:225px;
	padding:5px 0 0 8px
}
.twograde .thelist .listproduct .product_size h3 {
	padding-top:5px;
	padding-bottom:3px
}
.twograde .thelist .listproduct .product_size ul li {
	width:40px;
	height:30px;
	margin-right:5px;
	margin-top:5px
}
.twograde .thelist .listproduct .product_size ul li span {
	width:38px;
	height:28px
}
.twograde .thelist .listproduct .product_size ul li .product_size_none {
	background:url(http://cdn11.mei.com/images/product_size_none1.gif) no-repeat
}
.twograde .thelist .listproduct .select_btn {
	padding-top:10px
}
.twograde .thelist .listproduct .product_select .select_btn .button1 {
	width:103px
}
.twograde .thelist .listproduct .product_select .select_btn .button2 {
	width:103px
}
.twograde .thelist .listproduct .product_select .select_btn .button3 {
	width:103px
}
.twograde .thelist .listproduct .product_content {
	width:215px;
	height:79px;
	padding:5px 10px 0 10px;
	overflow:hidden;
	position:relative
}
.twograde .thelist .listproduct .product_content_pop {
	width:235px;
	height:84px;
	padding:0;
	overflow:hidden;
	position:relative;
	z-index:1;
	background:#fff
}
.twograde .thelist .listproduct .product_content1 {
	width:219px;
	height:68px;
	padding:8px;
	position:relative
}
.outlet .breadcrumbs {
	padding:20px 0 0 0;
	border-bottom:0
}
.outlet .outletBrand {
	width:100%;
	height:auto;
	overflow:hidden;
	border-bottom:1px solid #e7e7e7
}
.outlet .outletBrand .brandTop {
	width:100%;
	height:14px;
	line-height:14px;
	padding-bottom:9px;
	padding-top:5px
}
.outlet .outletBrand .brandTop a {
	display:block;
	height:14px;
	float:right;
	margin-left:15px
}
.outlet .outletBrand .brandTop a span {
	font-size:20px;
	font-weight:bold;
	position:relative;
	top:-1px;
	float:left;
	margin-right:5px
}
.outlet .outletBrand .brandContent {
	width:100%;
	height:auto;
	overflow:hidden;
	padding-bottom:10px
}
.outlet .outletBrand .brandContent .left {
	width:480px;
	padding-right:20px;
	float:left
}
.outlet .outletBrand .brandContent .left .brandLogo {
	width:480px;
	height:auto;
	overflow:hidden;
	text-align:left
}
.outlet .outletBrand .brandContent .left p {
	line-height:18px;
	padding:18px 0
}
.outlet .outletBrand .brandContent .right {
	width:500px;
	height:300px;
	overflow:hidden;
	float:right
}
.outlet .outletBrand .brandContent .right img {
	width:500px;
	height:300px
}
.outlet .box_effect {
	width:475px;
	margin-bottom:0
}
.outlet .box_effect_bg {
	width:475px
}
.outlet .box_effect_content {
	width:453px
}
.outlet .box_effect_content .box_effect_content_list {
	width:100%;
	height:auto;
	overflow:hidden;
	border-bottom:0;
	margin-bottom:0
}
.outlet .box_effect_content .box_effect_content_list ul li {
	width:auto;
	padding-left:28px;
	overflow:hidden;
	white-space:normal;
	margin-bottom:0;
	background:url(http://cdn11.mei.com/images/icon_gift.gif) no-repeat left top;
	line-height:18px
}
.outlet .box_effect_content .box_effect_content_list ul li span {
	margin-right:5px
}
.outlet .box_effect_content .box_effect_content_list ul li a {
	text-decoration:underline;
	display:inline-block
}
.outlet .twograde_content {
	padding-top:30px
}
.thelist .listproduct .product_size .pop_up_box3 {
	width:170px;
	height:auto;
	position:absolute;
	top:28px;
	left:-60px;
	z-index:99
}
.twograde .thelist .listproduct .product_size .pop_up_box3 {
	left:-65px
}
.thelist .listproduct .product_size .pop_up_box3 .box_content {
	width:150px
}
.thelist .listproduct .product_size .pop_up_box3 .box_content ul li {
	width:100%;
	height:auto;
	margin:0;
	line-height:20px;
	float:none
}
.thelist .listproduct .product_size .pop_up_box3 .box_content ul li b {
	font-weight:bold
}
